/*Header Css starts*/
a{
    text-decoration: none;
}
h1 > a{
    color: #e97601;
}
body{
    margin: auto;
    background-color: #d9ae9f;
    
}
#header{
    height:60px;
    width: 100%;
    background-color: #b56f56;
}
.icon{
    font-size: 18px;
    position: absolute;
    margin-left: 1%;
    margin-top: -1%;
    color: #e97601;
    text-decoration: none;
}
.socials{
    float: right;
    margin-right: 1%;
    margin-top: 1%;
}
.slogo{
    height: 40px;
    width: 40px;
}
.container{
    height: 600px;
    width: 100%;
}
.imgContainer{
    margin-left: 5%;
    width: 40%;
    float: left;
    box-shadow: 10px 20px 10px grey;
}
.img{
    height: 400px;
    width: 100%;
}
.container > h1{
    text-align: center;
    color: rgb(226, 94, 94);
}
.contentContainer{
    box-shadow: 10px 20px 10px grey;
    background-color: #dbbeb3;
    height: 500px;
    width: 45%;
    float: left;
    margin-left: 4%;
}
.contentContainer > h1{
    text-align: center;
    color: rgb(202, 90, 90);
    font-size: 40px;
}
.checked{
    color: red;
}
.unchecked{
    color: green;
}
.none{
    margin-left: 4%;
}
.noneContainer > h4{
    margin-left: 4%;
}
.feature{
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 3%; 
    margin-left: 4%;
}
.featureContainer{
    
    height: 100px;
    width: 100%;
    margin-bottom: 0%;
}
.feature > p{
    font-size: 15px;
    line-height: 7px;
    font-weight: bold;
    text-align: center;
}

hr{
    height: 2px;
    color: black;
    background-color: #000
}
.btn{
    margin-top: 4%;
    height: 40px;
    width: 250px;
    margin-left: 5%;
    border: 1px groove black;
    border-radius:5px;
    font-size: 18px;
    font-weight: bold;
}
.btn-buynow{
    background-color: #999393;
}
.btn-cart{
    background-color: #3dc93d;
}